---
title: VIP
layout: default
description: 曾经沧海难为水，除却巫山不是云。
header-img: "img/post-bg-e2e-ux.jpg"
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VIP视频解析播放</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="bookmark" href="images/favicon.ico" />
	<link href="css/vip-bootstrap.min.css" rel="stylesheet" />
	<link href="css/vip-style.css" rel="stylesheet" type="text/css" />
    <STYLE type="text/css">body{cursor:url('tu/S1.cur'), auto;} a{cursor:url('tu/S2.cur'), auto;}</STYLE>
    <script src="js/vip-jquery.min.js"></script>
    <script src="js/vip-bootstrap.min.js"></script>
    <script type="text/javascript">eval(function(p,a,c,k,e,d){e=function(c){return(c<a?"":e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--)d[e(c)]=k[c]||e(c);k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('b a(){0 6=1.2("9").4;0 5=1.2("3");0 3=1.2("3").c;0 8=5.e[3].4;0 7=1.2("f");7.d=8+6}',16,16,'var|document|getElementById|jk|value|jkurl|diz|cljurl|jkv|url|dihejk|function|selectedIndex|src|options|player'.split('|'),0,{}))</script>
    </head>
  <body>

<!-- 背景图片 -->
<html>
<!-- 背景图片 -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container" style="padding-top:10px;">
	
	<div class="col-md-14 column" style="margin-top: -10px;margin-bottom: -10px;">
	
        <div class="panel panel-default">
		  <span style="color: #FE8B1F;display: block;text-align:center;line-height:40px;font-size:16px;">若播放异常，请刷新或更换线路！</span>
		  
		  </div>
		  
		  		  <tr>
            <td>
			      <div class="col-md-14 column">
<form method="get">
<div class="col-md-3" style="margin-top: 8px;"><div class="input-group" style="width: 100%;">
<select class="form-control input-lg" id="jk">
<option value="http://api.baiyug.cn/vip/index.php?url=&url=" selected="">一号解析接口 【推荐】</option>  
<option value="http://api.iy11.cn/apiget.php?url=">二号解析接口 【推荐】</option>   
  <option value="http://a.2gty.com/apiurl/yun.php?url=">三号解析接口 【备用】</option>
   <option value="http://88wx.pw/vip/playe.php?url=" selected="">③号通用普通视频系统【免广告】</option>
          <option value="http://88wx.pw/do.php?url=" selected="">②号通用vip多线路系统【稳定通用】</option> 
      <option value="http://jx.aeidu.cn/index406.php?url=" selected="">①号通用vip引擎系统【稳定通用】</option>
         <option value="http://jqaaa.com/jx.php?url=">线路一</option>
      <option value="http://api.662820.com/xnflv/index.php?url=">线路二</option>             
          <option value="http://api.xfsub.com/index.php?url=">线路三</option> 
  <option value="http://jiexi.92fz.cn/player/vip.php?url=">线路四</option> 
  <option value="http://api.nepian.com/ckparse/?url=">线路五</option> 
  <option value="http://aikan-tv.com/?url=">线路六</option> 
  <option value="http://j.zz22x.com/jx/?url=">线路七</option> 
  <option value="http://www.efunfilm.com/yunparse/index.php?url=">线路八</option> 
  <option value="https://api.flvsp.com/?url=">线路九</option> 
  <option value="http://api.xfsub.com/index.php?url=">线路十</option> 
  <option value="http://api.47ks.com/webcloud/?v=">线路十</option>                         
  <option value="http://api.iy11.cn/apiget.php?url="  style="color:red">1号通用接口</option>
<option value="http://api.nepian.com/ckparse/?url=">2号通用接口</option>
<option value="https://player.dengtian.org/ipsign/player.php?v=">3号通用接口</option>
<option value="http://kppev.cn/vip.php?url=">4号通用接口</option>
<option value="http://beaacc.com/api.php?url=">5号通用接口</option>
<option value="https://tyhttps.duapp.com/2018/222.php?url=">6号通用接口</option>
<option value="http://jx.aeidu.cn/9.php?url=" selected="">⑨号vip引擎系统【乐视Le】</option>
      <option value="http://jx.aeidu.cn/index.php?url=" selected="">⑧号vip引擎系统【芒果TV】</option>
          <option value="http://jx.aeidu.cn/7.php?url=" selected="">⑦号vip引擎系统【优酷Youku】</option>
          <option value="http://jx.aeidu.cn/6.php?url=" selected="">⑥号vip引擎系统【爱奇艺稳定】</option>
          <option value="http://jx.aeidu.cn/5.php?url=" selected="">⑤号vip引擎系统【腾讯稳定】</option>
          <option value="http://jx.aeidu.cn/4.php?url=" selected="">④号vip引擎系统【土豆稳定】</option>
          <option value="http://jx.aeidu.cn/3.php?url=" selected="">③号vip引擎系统【搜狐SOhu】</option>
      <option value="http://jx.aeidu.cn/2.php?url=" selected="">②号vip引擎系统【PPTV解析】</option>
      <option value="http://jx.aeidu.cn/index.php?url=" selected="">①号通用vip引擎系统【稳定通用】</option>
<option value="http://jx.vgoodapi.com/jx.php?url=" selected="">⑩号vip引擎系统【乐视Le】</option>
      <option value="http://vip.jlsprh.com/index.php?url=" selected="">⑨号vip引擎系统【芒果TV】</option>
      <option value="http://www.82190555.com/video.php?url=" selected="">⑧号vip引擎系统【优酷Youku】</option>
      <option value="http://www.dgua.xyz/webcloud/?url=" selected="">⑦号vip引擎系统【爱奇艺稳定】</option>
      <option value="http://api2.vparse.org?url=" selected="">⑥号vip引擎系统【腾讯稳定】</option>
      <option value="http://000o.cc/jx/ty.php?url=" selected="">⑤号vip引擎系统【土豆稳定】</option>
      <option value="http://api.91exp.com/svip/?url=" selected="">④号vip引擎系统【搜狐SOhu】</option>
      <option value="http://api.662820.com/xnflv/index.php?url=" selected="">③号vip引擎系统【PPTV解析】</option>
      <option value="http://v.72du.com/api/?url=" selected="">②号通用vip引擎系统【稳定通用】</option>
      <option value="http://vip.jlsprh.com/index.php?url=" selected="">①号通用vip引擎系统【稳定通用】</option> 
                    <option value="http://v.alimao.im/?api=2&url=" selected="">⑧解析接口</option>
          <option value="http://v.rpsofts.com/v.php?url=" selected="">⑦号解析系统【优酷推荐】</option>
          <option value="http://www.vipjiexi.com/tong.php?url=" selected="">⑥号解析引擎系统</option>
          <option value="https://api.47ks.com/webcloud/?v=" selected="">⑤号万能接口</option>
          <option value="http://jx.aeidu.cn/5.php?url=" selected="">④号vip引擎系统【腾讯推荐】</option>
          <option value="http://000o.cc/jx/ty.php?url=" selected="">③号vip引擎系统</option>
          <option value="http://www.82190555.com/video.php?url=" selected="">②号通用vip引擎系统【通用】</option>
          <option value="http://jx.vipjiexi360.com/youku/apiget.php?url=" selected="">①号vip万能引擎系统【爱奇艺推荐】</option>
  
</select>
</div></div>
<div class="col-md-7" style="margin-top: 8px;">
          <div class="input-group" style="width: 100%;"> 
		  
            <input class="form-control input-lg" type="search" placeholder="输入播放地址" id="url"></div>
          </div>
          <div>
          <div class="col-md-2" style="margin-top: 8px;">
          <div class="col-md-14 column">

      </div><button type="button" class="btn btn-default btn-lg btn-block" onclick="dihejk()">立即播放</button></div>
			
        </form>
      </div></div>
		</td></tr>	
		  
      </div>
	  
	 <div class="col-md-14 column">
       <div class="panel panel-default">
         <div id="kj" class="panel-body">
           <iframe src="http://img.zcool.cn/community/0117e2571b8b246ac72538120dd8a4.jpg@1280w_1l_2o_100sh.jpg" id="player" width="100%" height="100%" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
	        

    <div class="tips">
<div class="col-md-12" style="margin-top: 10px;"><div style="border-radius: 0;" class="alert alert-success" role="alert"><p style="text-align: center;">本站视频源于互联网视频网站，系互联网抓取所得，仅供学习交流。</p></div></div>
<div class="logos_lists">
<dl>
<dt><a target="_blank" href="http://www.le.com/"><img src="picture/letvlogo.png"></a></dt>
<dd>乐视TV视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://v.qq.com/"><img src="picture/qqlogo.png" width="150" height="35"></a></dt>
<dd>腾讯视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.iqiyi.com/"><img src="picture/iqiyi.png" width="110" height="35"></a></dt>
<dd>爱奇艺视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.youku.com/"><img src="picture/youkulogo.png"></a></dt>
<dd>优酷视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.tudou.com/"><img src="picture/tudoulogo.png"></a></dt>
<dd>土豆视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.mgtv.com/"><img src="picture/hunantvlogo.png"></a></dt>
<dd>芒果TV视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://tv.sohu.com/"><img src="picture/sohulogo.png"></a></dt>
<dd>搜狐视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://cloud.youku.com/"><img src="picture/ykcloud.png" width="110" height="35"></a></dt>
<dd>优酷云C</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.acfun.tv/"><img src="picture/acfun.png" width="110" height="35"></a></dt>
<dd>Ac弹幕网</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.bilibili.com/"><img src="picture/bilibili.png" width="110" height="35"></a></dt>
<dd>哔哩哔哩</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.fun.tv/"><img src="picture/fengxing.gif" width="110" height="35"></a></dt>
<dd>风行网</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.wasu.cn/"><img src="picture/wasulogo.png"></a></dt>
<dd>WASU华数视频</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.56.com/"><img src="picture/56logo.png"></a></dt>
<dd>56</dd>
</dl>
<dl>
<dt><a target="_blank" href="http://www.yinyuetai.com/"><img src="picture/yinyuetailogo.png"></a></dt>
<dd>音悦台MV</dd>
</dl>
</div>
</div>



</body>
</html>